<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="Info"
		        xsi:type="File"
		        layout="${time} || ${message}${newline}"
		        fileName="${basedir}/Logs/${shortdate}/ApplicationInfo.log"/>
		<target name="Debug"
		        xsi:type="File"
		        layout="${time} || ${message}${newline}"
		        fileName="${basedir}/Logs/${shortdate}/ApplicationDebug.log"/>
		<target name="Error"
		        xsi:type="File"
		        layout="${time} || ${message} || ${stacktrace} ${newline}"
		        fileName="${basedir}/Logs/${shortdate}/ApplicationError.log"/>
		<target name="Warn"
		        xsi:type="File"
		        layout="${time} || ${message}${newline}"
		        fileName="${basedir}/Logs/${shortdate}/ApplicationWarn.log"/>
		<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" maxlevel="Info" minlevel="Info" writeTo="Info" />
		<logger name="*" maxlevel="Debug" minlevel="Debug" writeTo="Debug" />
		<logger name="*" maxlevel="Error" minlevel="Error" writeTo="Error" />
		<logger name="*" maxlevel="Warn" minlevel="Warn" writeTo="Warn" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>